<ion-content>
  <body>
  <div class="fondo">
    <div class="panel">
      <button class="return" name="return">
        <a routerLink="/inicio_sesion" class="return">◀ Cancelar</a>
      </button>
      <div class="title">
          <h2>recuperacion de contraseña</h2>
      </div>
      <div class="container">
        <app-correo class="poscorreo"></app-correo>
        <app-fecha-nacimiento class="posfecha"></app-fecha-nacimiento>
        <button
          (click)="openPopup()"
          [disabled]="!formularioValido"
          class="botonclr">confirmar</button>
      </div>
    </div>
  </div>

  <div *ngIf="showPopup" class="popup-overlay">
    <div class="popup-content">
      <app-contrasena></app-contrasena>
      <button (click)="confirmPassword()" class="boton-confirmar">Confirmar Contraseña</button>
      <button (click)="closePopup()" class="boton-cerrar">Cerrar</button>
    </div>
  </div>
  </body>
</ion-content>
