<div class="panel-container">
  <!-- Título del panel -->
  <div class="panel-header">
    <h2 class="Title">{{ Titulo_grupo }}</h2>
  </div>
  <div class="description">
    <p>{{ Codigo_grupo }}</p>
  </div>

  <div class="Boton">
    <app-join-exit
  [communityId]="Titulo_grupo"
  [isinscrito]="isinscrito">
  </app-join-exit>
  </div>

  <div class="accordion">
    <!-- Acordeón encabezado -->
    <div class="accordion-header"  (click)="toggleAccordion('one')" >
      <div class="accordion-title">
        <span>Inscritos</span>
        <span class="chevron" [class.chevron-up]="accordionOneExpanded" [class.chevron-down]="!accordionOneExpanded"></span>
      </div>
    </div>

    <!-- Contenido del acordeón -->
    <div class="accordion-content" [class.expanded]="accordionOneExpanded">
      <div class="list">
        <ul style="list-style: none; padding-left: 0;">
          <li *ngFor="let user of inscritos">
            {{ user.Nombre_Usuario }}
            <span class="correo">({{ user.Correo }})</span>
            <button class="Mensaje" (click)="clik_userforo(user.Correo)">Mensaje</button>
          </li>

        </ul>
      </div>
    </div>
  </div>


</div>
