<ion-content>
  <body>
    <div>
      <div class="panel">
        <button mat-raised-button (click)="goBack()" class="botonclr2">◀ Regresar</button>
        <h1 class="titulo">Modificar perfil</h1>
          <div class="div-izquierda">
            <app-foto></app-foto>
          </div>
          <div class="div-derecha">
            <div [class.disabled]="!isEditing" class="distribuir">
              <!-- Nombre: siempre editable cuando isEditing = true -->
                            <div [class.disabled]="!isEditing">
                              <app-nombre [Nombre]="nombreCompleto"></app-nombre>
                            </div>

                            <!-- Correo: NUNCA editable, solo lectura -->
                            <div class="campo-solo-lectura">
                              <app-correo [Correo]="Correo_front" ></app-correo>
                            </div>

                            <!-- Fecha: NUNCA editable, solo lectura -->
                            <div class="campo-solo-lectura">
                              <app-fecha-nacimiento [Fecha_Nacimiento_string]="fch_nac_front.split('T')[0]"></app-fecha-nacimiento>
                            </div>
                          </div>
            <div *ngIf="isEditing" class="oculto">
              <app-contrasena></app-contrasena>
              <app-confirmar-contrasena></app-confirmar-contrasena>
            </div>
          </div>
          <button class="botonclr" *ngIf="!isEditing" (click)="toggleEdit()">Editar perfil</button>
          <button class="botonclr" *ngIf="isEditing" (click)="acceptEdit()">Aceptar</button>
      </div>
    </div>
  </body>
</ion-content>
