<ion-content>
  <body>
    <div>
      <div class="panel">
        <h1 class="titulo">Inicio de sesion</h1>
          <div class="div-izquierda">
            <app-foto></app-foto>
          </div>
          <div class="div-derecha">
            <app-nombre></app-nombre>
            <app-confirmar-contrasena></app-confirmar-contrasena>
            <app-correo></app-correo>
            <app-fecha-nacimiento></app-fecha-nacimiento>
          </div>
          <button class="botonclr">Editar perfil</button>
      </div>
    </div>
  </body>
</ion-content>
