body {
    background: linear-gradient(135deg, #505EAD 0%, #764ba2 100%);
    color: #f8fafc;
    align-items: center;
    justify-content: center;
}
.panel{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  background-color:#f8fafc;
  padding: 5%;
  border-radius: 40px;
  height:auto;
  width: 900px;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  color: #0f172a;
  position: fixed;
  z-index: 1100;
  border: 1px solid black;
}
.poscorreo{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: auto;

}
.poscontrasena{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: auto;
}
.titulo{
  position: absolute;
  top: 15%;
  left: 50%;
  color:#0f172a;
  transform: translate(-50%,-50%);
  width: auto;
}
.botonclr{
  width: 6em;
  height: 3em;
  background-color: #0f172a;
  color: #f8fafc;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 8px;
}
.botonclr2{
  width: 6em;
  height: 3em;
  background-color: #0f172a;
  color: #f8fafc;
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%,-50%);
  border-radius: 8px;
}
.botonclr3{
  width: 6em;
  height: 3em;
  background-color: #0f172a;
  color: #f8fafc;
  position: absolute;
  top: 80%;
  left: 20%;
  transform: translate(-50%,-50%);
  border-radius: 8px;
}
.botonclr2:hover{
   filter: brightness(10);
}

.botonclr:hover{
   filter: brightness(0.8);
}
.div-izquierda{
  width: 450px;
  height: 500px;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Removed position absolute and transform */
}
.div-derecha {
  width: 450px;
  height: 500px;
  padding-left: 1rem;
   display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.distribuir{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
#oculto{
    margin-top:1 0px;
    display: none;
}

#oculto p{
    color: mediumseagreen;
}
.oculto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}
.botones{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  top: 80%;
  left: 50%;
}

.campo-solo-lectura {
  opacity: 0.6;
  pointer-events: none; /* Evita que se pueda hacer clic */

  position: relative;

  /* Deshabilita todos los inputs, selects, y botones dentro */
  input, select, button, textarea {
    pointer-events: none !important;
    background-color: #f5f5f5 !important;
    color: #666 !important;
    cursor: not-allowed !important;
  }

  /* Estilo visual para indicar que no es editable */
  /*   &::after {
    content: "🔒";
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 12px;
    color: #666;
  } */
}
