.n[type="text"]{
  color: gray;
  background-color: #f8fafc;
  width: auto;
}

.n[type="date"] {
  color: #0f172a;
  background-color: #f8fafc;
  width: 88%;
}

.n[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(18%) sepia(88%) saturate(749%) hue-rotate(180deg) brightness(90%) contrast(85%);
  cursor: pointer;
}
.dispfecha{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width:215px ;
  height: 50px;
}
.pos{
  width: 160px;

  color:#0f172a;

}
