
<div class="boton-mas-container">
  <!-- Botón "+" principal -->
  <button class="mas" (click)="toggleDesplegado()"><img src="assets/recursos de imagenes base/klipartz.com.png" alt=""></button>

  <!-- Botones que se despliegan al hacer clic -->
  <div class="botones-desplegados" *ngIf="desplegado">
    <button class="opcion" >Crear foro</button>
    <button class="opcion" >Crear grupo</button>
  </div>
<!--
  llamado de metodos para backend
  (click)="crearForo()"
  (click)="crearGrupo()"
-->
  <!-- Botón fijo de chats -->

</div>
