
.header {
  display: flex;
  align-items: center;
  height: auto;
  height: 80px;
  padding: 0 20px;
  background-color: #0f172a;
  box-shadow: 10px rgba(0, 0, 0, 0.1);

}


.logo {
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  color: white;
}

.container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding: 20px;
  flex-wrap: nowrap;
  overflow-x: auto;
}
