<div class="panel-container">
  <!-- Título del panel -->
  <div class="panel-header">
    <h2 class="Title">{{ Titulo_foro }}</h2>
  </div>
  <div class="description">
    <p>{{ description }}</p>
  </div>

  <div class="Boton">
    <app-join-exit
  [communityId]="Titulo_foro"
  [isinscrito]="isinscrito">
  </app-join-exit>
  </div>

  <div class="list">
    <ul style="list-style: none; padding-left: 0;">
  <li *ngFor="let user of inscritos">
    {{ user.Nombre }} {{ user.Apellido_Pat }} ({{ user.Correo }})
    <button class="Mensaje" (click)="clik_userforo(user.Correo)">Mensaje</button>
  </li>
</ul>
  </div>
</div>
