<div class="panel-container">
  <!-- Título del panel -->
  <div class="panel-header">
    <h2 class="Title">{{ Titulo_foro }}</h2>
  </div>
  <div class="description">
    <p>{{ description }}</p>
  </div>

  <div class="Boton">
    <app-join-exit
      #joinExitRef
      [communityId]="Titulo_foro"
      [isinscrito]="isinscrito"
      (onExitRequest)="onExitRequested()">
    </app-join-exit>
  </div>

  <!-- Botón de prueba para mostrar el popup (temporal) -->

  <div class="accordion">
    <!-- Acordeón encabezado -->
    <div class="accordion-header"  (click)="toggleAccordion('one')" >
      <div class="accordion-title">
        <span>Inscritos</span>
        <span class="chevron" [class.chevron-up]="accordionOneExpanded" [class.chevron-down]="!accordionOneExpanded"></span>
      </div>
    </div>

    <!-- Contenido del acordeón -->
    <div class="accordion-content" [class.expanded]="accordionOneExpanded">
      <div class="list">
        <ul style="list-style: none; padding-left: 0;">
          <li *ngFor="let user of inscritos">
            {{ user.Nombre }} {{ user.Apellido_Pat }}
            <span class="correo">({{ user.Correo }})</span>
            <button class="Mensaje" (click)="clik_userforo(user.Correo)">Mensaje</button>
          </li>

        </ul>
      </div>
    </div>
  </div>

  <!-- Popup de confirmación -->
  <app-confirmation-popup
    [isVisible]="showConfirmationPopup"
    title="Confirmar salida"
    message="¿Deseas realmente salir del foro?"
    confirmText="Sí, salir"
    cancelText="Cancelar"
    (onConfirm)="onConfirmExit()"
    (onCancel)="onCancelExit()">
  </app-confirmation-popup>

</div>
