<!-- comments-section.component.html -->
<!-- Comments Section -->
<div class="comments-section" *ngIf="comments.length > 0">
  <div class="comments-list">
    <div *ngFor="let comment of comments" class="comment">
      <div class="comment-avatar">

      </div>

      <div class="comment-content">
        <span class="comment-author"></span>
        <p class="comment-text"></p>
        <span class="comment-time"></span>
      </div>
    </div>
  </div>
</div>

<!-- Add Comment -->
<div class="add-comment">
  <div class="comment-input-container">
    <textarea
      [value]="commentText"
      (input)="onCommentTextChange($event)"
      placeholder="Escribe un comentario..."
      class="comment-textarea"
      maxlength="300"
      rows="1"
    ></textarea>
    <button
      class="comment-button"
      [disabled]="!canComment()"
      (click)="onAddComment()"
    >
      Comentar
    </button>
  </div>
  <div class="comment-counter" *ngIf="commentText">
    {{ commentText.length }}/300
  </div>
</div>
<!--
{{ comment.author.charAt(0).toUpperCase() }}
 {{ comment.author }}
{{ comment.content }}
 {{ getTimeAgo(comment.createdAt) }}
-->
