<!-- comments-section.component.html -->
<!-- Comments Section -->
<div class="comments-section">
  <div class="comments-list">
    <div class="comment" *ngFor="let comment of comments">
      <div class="comment-avatar">
        {{ comment.Usuario_creador.charAt(0).toUpperCase() }}{{ comment.Usuario_creador.charAt(1).toUpperCase() }}
      </div>
      <div class="comment-content">
        <span class="comment-author">{{ comment.Usuario_creador }}</span>
        <p class="comment-text">{{ comment.Contenido }}</p>
        <div class="comment-time">{{ getTimeAgo(comment.Fecha_Comentario) }}</div>

      </div>
    </div>
  </div>
</div>

<!-- Add Comment -->
<div class="add-comment">
  <div class="comment-input-container">
    <textarea
      [value]="commentText"
      (input)="onCommentTextChange($event)"
      placeholder="Escribe un comentario..."
      class="comment-textarea"
      maxlength="300"
      rows="1"
    ></textarea>
    <button
      class="comment-button"
      [disabled]="!canComment()"
      (click)="onAddComment()"
    >
      Comentar
    </button>
  </div>
  <div class="comment-counter" *ngIf="commentText">
    {{ commentText.length }}/300
  </div>
</div>
