/* Modified to make the "mas" button smaller */
.mas{
  color: #f0f0f0;
  background-color: #0f172a;
  padding: .7em; /* Reduced padding for smaller button */
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: filter 0.3s ease;
  border-radius: 50%;

}

.mas:hover {
  filter: brightness(0.8);
}

.mas img {
  width: 35px; /* Reduced image size */
  height: 34px; /* Reduced image size */
  display: block;
}
.boton-mas-container {
  position: fixed;
  bottom: 2.2vh;
  right: 40vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  gap: 7px;
  z-index: 1000;
}


.botones-desplegados {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 10px;
}

.opcion {
  padding: 15px 20px;
  background-color:#0f172a;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  transition: background 0.2s;
}

.opcion:hover {
  background-color: #f0f0f0;
  color: #0f172a;
}
