body {
  background-color: #0f172a;
  color: #f8fafc;
  align-items: center;
  justify-content: center;
}
.panel{
position: absolute;
transform: translate(-50%,-50%);
top: 50%;
left: 50%;
background-color:#f8fafc;
padding: 3em;
border-radius: 5%;
height: auto;
width: 450px;
  h2{
    font-size: 25px;
    color: black;
    margin: 1em;
  }
}

.title{
  text-align: center;
  margin-top: -40px;
}

.container{
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 2em;
  padding-left: 2.5vw;
  transform: translate(0%);

  /* Propiedades opcionales útiles */
  gap: 15px; /* Espacio entre elementos */
  //width: 65%;
}

.poscontrasena{
width: auto;
}
.titulo{

color: #0f172a;
width: auto;
}
.botonclr {
  background-color: #0f172a; // color activo (puedes cambiarlo)
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-inline: auto;
  margin-top: 2vh;
  &:hover {
    background-color: #0056b3;
  }

  &:disabled {
    background-color: #cccccc; // gris claro
    color: #666666;
    cursor: not-allowed;
    box-shadow: none;
  }
}
.posfecha{
  width: 100%;
}
.posconfcontr{
  width: 100%;
}

  .return {
    background: none;
    border: none;
    padding: 3px;
    text-align: left;
    margin-bottom: 3vh;

    a {
      color: black;
      font-size: 0.85rem;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .marca_error{
      margin: auto;

      h1{
          font-size: 0.55rem;
      }
  }
