<ion-content>
  <body>
    <div>
      <div class="panel">
        <app-contrasena class="poscontrasena"></app-contrasena>
        <app-correo class="poscorreo"></app-correo>
        <app-nombre class="posname"></app-nombre>
        <app-confirmar-contrasena class="posconfcontr"></app-confirmar-contrasena>
        <app-fecha-nacimiento class="posfecha"></app-fecha-nacimiento>
        <button routerLink="['/home']" class="botonclr">confirmar</button>
      </div>
    </div>
  </body>
</ion-content>
