<ion-content>
  <body>
    <div>
      <div class="panel">
       <button class="return" name="return">
          <a routerLink="/inicio_sesion" class="return">◀ Cancelar</a>
        </button>
        <div class="title">
            <h2>Registro</h2>
        </div>
        <div class="container">
          <app-nombre class="posname"></app-nombre>
          <app-correo class="poscorreo" (correoValid)="onCorreoValidChange($event)"></app-correo>
          <app-fecha-nacimiento class="posfecha"></app-fecha-nacimiento>
          <app-contrasena class="poscontrasena" (contrasenaChange)="onContrasenaChange($event)"></app-contrasena>
          <app-confirmar-contrasena class="posconfcontr" (confirmPasswordChange)="onConfirmPasswordChange($event)"></app-confirmar-contrasena>
          <div *ngIf="errorMessage" style="color: red; font-weight: bold; font-size: 0.8rem;">
            {{ errorMessage }}
          </div>
          <div *ngIf="!Is_cuenta_created" >
            <h2 style="color: red; font-weight: bold; font-size: 0.8rem;">Error al registrar cuenta</h2>
          </div>
          <button  (click)="obtenerDatos()"
                  [disabled]="!formularioValido"
                  class="botonclr">Aceptar y Continuar
          </button>
        </div>
      </div>
    </div>
  </body>
</ion-content>
