<ion-content>
  <body>
    <div>
      <div class="panel">
        <div class="title">
            <h2>Registro</h2>
        </div>
        <div class="container">
          <app-nombre class="posname"></app-nombre>
          <app-correo class="poscorreo" (correoValid)="onCorreoValidChange($event)"></app-correo>
          <app-fecha-nacimiento class="posfecha"></app-fecha-nacimiento>
          <app-contrasena class="poscontrasena" (contrasenaChange)="onContrasenaChange($event)"></app-contrasena>
          <app-confirmar-contrasena class="posconfcontr" (confirmPasswordChange)="onConfirmPasswordChange($event)"></app-confirmar-contrasena>
          <div *ngIf="errorMessage" style="color: red; font-weight: bold;">
            {{ errorMessage }}
          </div>
          <button (click)="obtenerDatos()" [routerLink]="['/inicio_sesion']" class="botonclr">Registrarse
          </button>
        </div>
      </div>
    </div>
  </body>
</ion-content>
