/* side-panel.component.scss */
:host {
  display: block;
}

.side-panel-container {
  width: 40vh;
  height: 90vh
  ;
  background-color: #0f172a;
  border-right: 1px solid var(--ion-color-light-shade);
  position: sticky;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.side-panel-header {
  padding: 16px;
  border-bottom: 1px solid var(--ion-color-light-shade);
  background-color: var(--ion-color-light);
  position: sticky;
  top: 0;
  z-index: 10;

  h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: white;
  }
}

.side-panel-content {
  flex: 1;
  overflow-y: auto;
}

// Estilos para los acordeones
.accordion {
  margin-bottom: 8px;

  .accordion-header {
    cursor: pointer;

    ion-item {
      --background: transparent;
      --padding-start: 16px;
      --min-height: 48px;
      font-weight: 500;

      &:hover {
        --background: var(--ion-color-light-shade);
      }
    }

    .accordion-icon {
      transition: transform 0.3s ease;
    }
  }

  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;

    &.expanded {
      max-height: 500px; // Ajusta este valor según sea necesario
    }

    ion-list {
      background: transparent;
      padding: 0;

      ion-item {
        --background: transparent;
        --padding-start: 24px;
        --min-height: 40px;

        &:hover {
          --background: rgba(var(--ion-color-primary-rgb), 0.1);
        }

        &.selected {
          --background: rgba(var(--ion-color-primary-rgb), 0.15);
          font-weight: 500;
        }

        &.active-item {
          --background: rgba(var(--ion-color-primary-rgb), 0.15);
          font-weight: 500;
          border-left: 3px solid var(--ion-color-primary);
        }
      }
    }
  }
}

// Estilos para modo oscuro
:host-context(.dark-theme) {
  .side-panel-container {
    background-color: var(--ion-color-dark);
    border-right-color: var(--ion-color-dark-shade);
  }

  .side-panel-header {
    background-color: var(--ion-color-dark);
    border-bottom-color: var(--ion-color-dark-shade);

    h2 {
      color: var(--ion-color-primary-contrast);
    }
  }
}

// Media queries para dispositivos pequeños
@media (max-width: 768px) {
  .side-panel-container {
    width: 200px;
  }
}
