/* Modified to make the chat buttons smaller */
.chats{
  text-decoration: none;
  color: #f0f0f0;
  background-color: #0f172a;
  padding: 0.8em;
  padding-inline: 3em;
  border-radius: 5%;
  font-size: 22px; /* Reduced font size */
  position: fixed;
  bottom: 2vh;
  right: 2vw;
}
.chats:hover{
  filter: brightness(0.8);
}
.boton-chats-container {
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  gap: 0.5rem;
  z-index: 1000;
}

.chats-desplegados {
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  color: #0f172a;
  position: fixed;
  bottom: 8.3vh;
  right: 10vh;
  z-index: 1100;
  border: 1px solid black;
}

.opcion {
  padding: 15px 20px;
  background-color:#0f172a;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  transition: background 0.2s;
}
.listado-chats-desplegados-izquierda{
  background-color: #0f172a;
  height:400px;
  width: 120px;
  border: 1px solid #f0f0f0;
}
