<div class="chat-list">
  <div *ngFor="let conversation of conversations"
       class="chat-item"
       [class.active]="selectedChatId === conversation.Id_Chat"
       (click)="onChatClick(conversation.Id_Chat)">

    <div class="chat-avatar">
      {{ getInitials(conversation.Nombre + ' ' + conversation.Apellido_Pat) }}
    </div>

    <div class="chat-info">
      <div class="chat-name">{{ conversation.Nombre }} {{ conversation.Apellido_Pat }}</div>

      <div class="chat-last-message" *ngIf="conversation.UltimoMensaje">
        {{ conversation.UltimoMensaje }}
      </div>
      <div class="chat-last-message" *ngIf="!conversation.UltimoMensaje">
        Sin mensajes
      </div>
    </div>

    <div class="chat-meta" *ngIf="conversation.FechaUltimoMensaje">
      <div class="chat-time">
        {{ getTimeAgo(conversation.FechaUltimoMensaje) }}
      </div>
    </div>
  </div>
</div>

