<div class="chat-window">
  <!-- Header del chat

-->
  <div class="chat-header">
    <div class="participant-info">
      <div class="participant-avatar">
        <img
             class="avatar-image">
<!--ngIf="participantAvatar; else initialsAvatar"
             [src]="participantAvatar"
             [alt]="participantName"*/-->
        <ng-template #initialsAvatar>
          <div class="avatar-initials">
            {{getInitials( participantFullName)}}
          </div>
        </ng-template>

      </div>

      <div class="participant-details">
       <h3 class="participant-name">{{ participantFullName }}</h3>
      </div>
    </div>

    <div class="chat-actions">
      <button class="action-btn" title="Más opciones">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <circle cx="12" cy="12" r="1"></circle>
          <circle cx="12" cy="5" r="1"></circle>
          <circle cx="12" cy="19" r="1"></circle>
        </svg>
      </button>
    </div>
  </div>

  <!-- Área de mensajes -->
  <div class="messages-container">
    <div class="messages-list">
      <div *ngFor="let msg of Mensajes"
        class="message-wrapper"
        [class.own-message]="msg.isFromCurrentUser"
        [class.other-message]="!msg.isFromCurrentUser">

          <div class="message-bubble">
            <div class="message-meta">
              <strong>{{ msg.Nombre }}</strong> — <span>{{ msg.Fecha_Envio }}</span>
        </div>
          <div class="message-content">
            {{ msg.Contenido }}
          </div>
      </div>
    </div>
  </div>

</div>

  <!-- Input para escribir mensajes -->

    <app-input [chatId]="chatId"></app-input>

</div>
