<body class="body">
  <app-header></app-header>

  <main class="main-content">

    <div class="contenedor-centrado">
      <div class="grupos-container">
        <app-group-card></app-group-card>
        <app-group-card></app-group-card>
        <app-group-card></app-group-card>
        <app-group-card></app-group-card>
        <app-group-card></app-group-card>
        <app-group-card></app-group-card>
        <app-group-card></app-group-card>

      </div>
    </div>


      <div class="floating-buttons">
        <div class="container2">
          <app-boton-mas></app-boton-mas>
          <app-boton-chats></app-boton-chats>
      </div>
    </div>
  </main>
</body>
