<body class="body">
  <header class="header">
    <div class="logo">AppName</div>
    <div class="container">

    <div><app-barra-busqueda class="posbusqueda"></app-barra-busqueda></div>
    <div><app-boton-cerrar class="poscerrar"></app-boton-cerrar></div>
    <div><app-boton-perfil class="posperfil"></app-boton-perfil></div>
    </div>
  </header>

  <main class="main-content">
    <section class="filters">
      <app-boton-tgf></app-boton-tgf>
    </section>

    <div class="contenedor-centrado">
  <div class="grupos-container">
    <div class="grupo-card">Ingresar con código</div>
    <div class="grupo-card">Grupo 2</div>
    <div class="grupo-card">Grupo 3</div>
    <div class="grupo-card">Foro 1</div>
    <div class="grupo-card">Foro 2</div>
    <div class="grupo-card">Foro 3</div>
    <div class="grupo-card">Foro 4</div>
    <div class="grupo-card">Foro 5</div>
  </div>
</div>

    <div class="floating-buttons">
      <app-boton-mas></app-boton-mas>
      <app-boton-chats></app-boton-chats>
    </div>
  </main>
</body>
