.body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.header {
  display: flex;
  align-items: center;
  height: auto;
  height: 80px;
  padding: 0 20px;
  background-color: #0f172a;
}
.container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding: 20px;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.container2 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 10px;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.logo {
  font-weight: bold;
  font-size: 24px;
}

.main-content {
  padding: 20px;
  position: relative;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.contenedor-centrado {
  display: flex;
  justify-content: center;
  width: 100%;
}

.grupos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
  max-width: 960px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}


.floating-buttons {
  position: fixed;
  bottom: 10px;
  right: 50px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}


/* tablero.component.scss */
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columnas */
  gap: 4px;
  width: 300px;
  height: 300px;
}
