<div class="post-container">
  <div class="post-form">
    <textarea
      [(ngModel)]="postContent"
      placeholder="¿Qué está pasando?"
      class="post-textarea"
      maxlength="500"
      (input)="onInputChange()"
    ></textarea>

    <div class="post-footer">
      <span class="character-count" [class.warning]="isNearLimit()">
        {{ postContent.length }}/500
      </span>
      <div class="post-actions">
        <div class="tarea"  *ngIf="is_creador">
          Tarea
          <label class="toggle">
            <input type="checkbox" [(ngModel)]="isTarea"/>
            <span class="slider"></span>
          </label>
        </div>
        <button class="file-button" type="button">
          <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
            <path d="M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z"/>
            <polyline points="14,2 14,8 20,8"/>
            <path d="M12 18v-6"/>
            <path d="m9 15 3-3 3 3"/>
          </svg>
        </button>
        <button
          class="post-button"
          [disabled]="!canPost()"
          (click)="onPost()"
          > Postear
        </button>
      </div>

    </div>
    <div class="entrega" *ngIf="is_creador">
      <label for="datetime">Fecha y Hora de entrega: </label>
        <input type="datetime-local" id="datetime" name="datetime" class="fecha" [(ngModel)]="Fecha_cad">
        <div id="miAlerta" style="display:none; background: #f8d7da; color:#721c24; padding: 10px; border: 1px solid #f5c6cb; margin: 10px;">
          publicando tarea
        </div>
    </div>
  </div>
</div>
