<ion-content>
  <body>
    <div>
      <div class="panel">
        <div class="container">
          <h1 class="titulo">Inicio de sesión</h1>
          <app-correo class="poscorreo"></app-correo>
          <app-contrasena class="poscontrasena"></app-contrasena>
          <button (click)="revisardatosdb()" class="botonclr">ingresar</button>
          <div class="marca_error">
            <h1 *ngIf="!Inicio_ses" >Error al iniciar sesión</h1>
          </div>
          <button [routerLink]="['/recuperacion']" class="botonclr2">Olvidé contraseña</button>
          <button [routerLink]="['/registro']" class="botonclr3">Registrarse</button>

        </div>
      
      </div>
    </div>
  </body>
</ion-content>
