<ion-content>
  <body>
    <div>
      <div class="panel">
        <h1 class="titulo">Inicio de sesion</h1>
        <app-correo class="poscorreo"></app-correo>
        <app-contrasena class="poscontrasena"></app-contrasena>
        <button (click)="revisardatosdb()" class="botonclr">home</button>
        <button [routerLink]="['/recuperacion']" class="botonclr2">¿Recuperar conraseña?</button>
        <button [routerLink]="['/registro']" class="botonclr3">Registrarse</button>
      </div>
    </div>
  </body>
</ion-content>
