/* search-bar.component.css */
.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 30vw;
  margin: 0 auto;
  padding: 4px;
  border-radius: 8px;
  background-color: #f0f0f0;
   color: #0f172a;
}

.search-input {
  flex: 1;
  padding: 4px 8px;
  border: none;
  border-radius: 8px 0 0 8px;
  font-size: 14px;
  outline: none;
  background: #f8fafc;
  width: 100%;

}

.search-button {
  padding: 4px 8px;
  border: none;
  background-color: #0f172a;
  color: #f8fafc;
  font-size: 14px;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  transition: background-color 0.3s;
  max-width: 10vw;

}

.search-button:hover {
  background-color: #0f172a;
  filter: brightness(0.8);

}
.search-container {
  position: relative; // Importante para que .suggestions-list se posicione respecto a este contenedor
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.search-input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.search-button {
  position: absolute;
  right: 10px;
  top: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.suggestions-list {
  position: absolute;
  top: 100%; // Aparece justo debajo del input
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}
.suggestions-fixed {
  position: fixed;
  z-index: 9999;
  background: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  margin: 0;
  padding: 0;
}

.suggestions-fixed li {
  padding: 10px;
  cursor: pointer;
}

.suggestions-fixed li:hover {
  background-color: #eee;
}
