<div class="search-container">
  <input
    [(ngModel)]="searchTerm"
    (ngModelChange)="filterItems()"
    placeholder="Buscar usuario o foro..."
    class="search-input"
    type="text"
  />
  <button class="search-button" (click)="onSearch()">
    🔍
  </button>

  <ul *ngIf="filteredItems.length > 0" class="suggestions-list" style="list-style:none">
    <li
      *ngFor="let item of filteredItems"
      (click)="selectItem(item)"
    >
      <span *ngIf="item.tipo === 'usuario'">👤 {{ item.valor }}</span>
      <span *ngIf="item.tipo === 'foro'">📁 {{ item.valor }}</span>
    </li>
  </ul>
</div>
