<!-- search-bar.component.html -->
<div class="search-container">
  <input
    type="text"
    [(ngModel)]="searchTerm"
    (input)="filterUsuarios()"
    placeholder="Buscar usuario por correo..."
    class="search-input"
  />
  <button class="search-button" (click)="onSearch()">🔍</button>

  <!-- Lista desplegable -->
  <ul class="suggestions-list" *ngIf="filteredUsuarios.length > 0">
    <li *ngFor="let usuario of filteredUsuarios" (click)="selectUsuario(usuario)">
      {{ usuario.Correo }}
    </li>
  </ul>
</div>
