.perfil{
  background-color: #f0f0f0;
  color: #0f172a;
  padding: 0.001em;
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: filter 0.3s ease;
  border-radius: 50%;
}

.perfil:hover {
  filter: brightness(0.8);
}

.perfil img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
}
